/* Page de Connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #6a5acd, #ff9ebc);
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #6a5acd;
}

#email ,
#mdp,
#continue-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#continue-btn{
    background-color: #6a5acd;
    color: #fff; 
}

.login-box input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #6a5acd;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-box input[type="submit"]:hover {
  background-color: #ff9ebc;
}
