.container-col img {
  width: 100%;
  height: auto;
}
p {
  text-align: justify;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #8145c5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}
